// flex helpers
.flex-row { display: flex; flex-direction: row; flex-wrap: nowrap; }
.flex-wrap { flex-wrap: wrap; }
.flex-left { justify-content: flex-start; }
.flex-center { justify-content: center; }
.flex-right { justify-content: flex-end; }
.flex-space { justify-content: space-between; }
.flex-around { justify-content: space-around; }
.flex-stretch { justify-content: stretch; }
.flex-top { align-items: flex-start; }
.flex-middle { align-items: center; }
.flex-bottom { align-items: flex-end; }
.flex-half { flex: .5; }
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }

// auto switch between column and row
.flex-autorow {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  & > .flex-item {
    flex: 1;
    width: 100%;
    margin: 0 0 $padSpace 0; // push bottom
    &:last-of-type { margin: 0; }
  }

  @media #{$screenMedium} {
    flex-direction: row;

    & > .flex-item {
      margin: 0 $padSpace 0 0; // push right
      &:last-of-type { margin: 0; }
    }
  }
}
