// common
@import './variables';
@import './reset';
@import './document';
@import './common';
@import './animations';
@import './flexbox';
@import './images';
@import './forms';
@import './popover';
@import './type';

// app root
.app-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 100%;
}

// player container
.player-wrap {
  display: block;
  overflow: hidden;
  position: relative;
  flex: 1;
  width: 100%;
  height: 100vh;
  background-color: $colorDocumentDark;

  & > .player-bg,
  & > .player-canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  & > .player-bg {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
  }
  @media #{$screenMedium} {
    margin: 0 ( $padSpace * 2 );
    max-width: 1080px;
    height: calc( 100vh - ( #{$padSpace} * 4 ) );
    max-height: 700px;
    border-radius: $lineJoin;
    box-shadow: $shadowContainer;
  }
}

// player layout container
.player-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;

  .player-header,
  .player-content,
  .player-footer {
    position: relative;
  }
  .player-header,
  .player-footer {
    padding: 0 $padSpace;
    height: $headerHeight;
    min-height: $headerHeight;
    background-color: $colorCard;
  }
  .player-header {
    & > h2 {
      color: $colorPrimary;
      i { vertical-align: bottom; }
    }
  }
  .player-content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: $padSpace;

    & > section {
      margin: auto 0; // prevent vertical aligned flex item from overflowing
    }
    @media #{$screenMedium} {
      padding: $padSpace ( $padSpace * 2 );
    }
  }
}

// player greeting message
.player-greet {
  flex: 1;
  @media #{$screenMedium} { flex: .5; }
}

// player tracklist
.player-tracklist {
  display: block;
  position: relative;
  list-style: none;

  & > li + li {
    margin-top: $padSpace;
  }
}

// player footer controls
.player-controls {
  position: relative;
}

// player stations sidebar
.player-stations {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( $colorOverlay, 0 );
  pointer-events: none;
  z-index: 1;

  .player-stations-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    position: absolute;
    top: 0;
    right: -320px;
    width: 320px;
    min-height: 100%;
    max-height: 100%;
    background-color: lighten( $colorDocumentDark, 2% );

    @media #{$screenSmall} {
      right: -420px;
      width: 420px;
    }

    .player-stations-header,
    .player-stations-footer {
      padding: 0 $padSpace;
      min-height: $headerHeight;
      box-shadow: 0 0 3px rgba( black, 0.3 );
    }
    .player-stations-list {
      display: block;
      list-style: none;
      overflow: hidden;
      overflow-y: auto;
      margin-left: -10px;
      padding-left: 10px;
      flex: 1;

      .player-stations-list-item {
        position: relative;
        padding: $padSpace;
        background-color: rgba( black, 0.1 );
        cursor: pointer;

        &:nth-child( odd ) {
          background-color: rgba( black, 0.18 );
        }
        &:hover {
          background-color: rgba( black, 0 );
        }
        &.active {
          background-color: darken( $colorDocumentDark, 2% );
          .player-stations-list-title { color: $colorPrimary; }
        }
      }
    }
  }

  // slide out
  &.visible {
    background-color: $colorOverlay;
    pointer-events: auto;
    z-index: 1000;

    .player-stations-sidebar {
      transform: translateX( -320px );
      box-shadow: $shadowOverlay;
      @media #{$screenSmall} { transform: translateX( -420px ); }
    }
    .player-stations-list-item.active:before {
      content: '';
      display: block;
      position: absolute;
      transition: none;
      transform: translateY( -50% );
      top: 50%;
      left: -10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid darken( $colorDocumentDark, 2% );
    }
  }
}
